# Server
APP_PORT=8017
APP_HOST=localhost
NODE_ENV=dev
CLIENT_URL=http://localhost:3000

# MongoDB
MONGO_DB_URI=mongodb://localhost:27017
DATABASE_NAME=smartpos

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary (optional, for image uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# PayOS Payment Gateway
PAYOS_CLIENT_ID=6c624404-9be4-4f36-a829-c58127987b95
PAYOS_API_KEY=ac431ed6-73d3-49d4-9825-d9fb0ec811fe
PAYOS_CHECKSUM_KEY=026d5d02a5ff7e360ac93936528e4283881d5764e9962ef31e075516346b9e4b
